.footer{
  
  
  background-color: blue;
  color: wheat;
  text-align: center;
}
.page-width-footer{
  width: 100%;
  background-color: blue;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
